header {
    background-color: #f2f8fb;

  }
  
header h1{
  font-size: 25px ;
}

.logo-img {
  width: 45px; 
  height: auto;
}


.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.custom-dropdown{
  background-color:#f2f8fb ;
}
